.tag {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $clr-primary;
    min-width: 85px;
    height: 20px;
    border-radius: 10px;

    @include desktop-only {
        min-width: 115px;
        height: 25px;
    }

    &__label {
        font-size: 10px;
        font-weight: 700;
        line-height: 14.26px;
        text-align: center;
        margin: 0;
        color: #fff;
        margin: 0 20px;

        @include desktop-only {
            font-size: 14px;
            font-weight: 700;
            line-height: 19.96px;
            margin: 0 40px;

        }

    }
}