.header {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @include center-box;



    @include desktop-only {
        margin-top: 45px;
    }

    &__logo {
        width: 145px;
        height: 47px;
        user-select: none;

        @include desktop-only {
            width: 210px;
            height: 68px;
        }
    }
}